
@keyframes moveInLeftImport {
    0%{
      opacity: 0;
      transform: translateX(-35%) ;
    }
  
    
    80%{
      transform: translateX(2%) ;
  
    }
  
    100%{
      transform: translateX(0) ;
      opacity: 1;
    }
  }
  
  @keyframes moveInRightImport {
    0%{
      opacity: 0;
      transform: translateX(35%) ;
    }
  
    
    80%{
      transform: translateX(-2%) ;
  
    }
  
    100%{
      transform: translateX(0) ;
      opacity: 1;
    }

  }

  @keyframes moveOutLeft {
    0%{
      opacity: 1;
      transform: translateX(0) ;
    }
  
    

  
    100%{
      transform: translateX(-150%) ;
      opacity: 0;
    }

  }
  @keyframes moveOutRight2 {
    0%{
      opacity: 1;
      transform: translateX(0) ;
    }
  
    

  
    100%{
      transform: translateX(+350%) ;
      opacity: 0;
    }

  }
  
  @keyframes fadeOut {
    0%{
      opacity: 1;
       ;
    }
  
    100%{

      opacity: 0;
    }

  }
  
  @keyframes moveOutLeft2 {
    0%{
      opacity: 1;
      transform: translateX(0) ;
    }
  
    100%{
      transform: translateX(-350%) ;
      opacity: 0;
    }
  }
  @keyframes moveOutRight {
    0%{
      opacity: 1;
      transform: translateX(0) ;
    }
  
    

  
    100%{
      transform: translateX(+150%) ;
      opacity: 0;
    }

  }

  @keyframes shrink {
    0%{
      opacity: 1;
      transform: scale(100%)
    }
    100%{
      opacity:0;
      transform: scale(0%)
    }
  }
  
