/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  cursor: default;

}
.trueBackground{
  /* background: linear-gradient(to right bottom, #7ed56fd0,#55c57aca, #016846df); */
  position: fixed;
  background: 	rgb(34, 34, 34);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* Place the video behind other elements */
  object-fit: cover;
  
  }
  


.background{
/* background: linear-gradient(to right bottom, #7ed56fd0,#55c57aca, #016846df); */
position: fixed;

top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; /* Place the video behind other elements */
object-fit: cover;

}

.navMenu{
  display: flex;
  flex-direction: column;
  padding: 10%;
  position: relative;
  
  
}
.routeButton{
  display: inline-block;
  padding: 1%;
  
  font-weight: 300;
  position: relative;

 
}

.routeButton::before{
  content: "";
  background-color: aliceblue;
  position: absolute;
  margin-right: 2%;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  transform: scaleY(0);
  transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .2s;
  opacity: 1;
  
  border-radius: 5px;
  z-index: -2;
 
  
  

}
.routeButton:hover{
  z-index: 150;
  color: black;
}

.routeButton:active::before {
  background-color: main menu;
}

.routeButton:hover::before{
  transform: scaleY(1);
  width: 100%;
}

.one{
  animation-name: moveInRight;
  animation-timing-function: ease-in;
  animation-duration: 2s;
 

 
}
.two{
  animation-name: moveInRight;
  animation-timing-function: ease-in;
  animation-duration: 2500ms;
 
 
}
.three{
  animation-name: moveInRight;
  animation-timing-function: ease-in;
  animation-duration: 3s;

  
 
}
.four{
  animation-name: moveInRight;
  animation-timing-function: ease-in;
  animation-duration: 3500ms;

 
 
}

.explain{
  font-size: 40px;
  font-size: 20px;
  font-weight: 200;
}


#preloader {
  display: flex;
  justify-content: right;
  align-items: end;
  background-size: 3%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 10%;
  padding-right: 5%;
  

}

#preloader2 {
  font-size: 25px;
  color:rgb(195, 195, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 34, 34) ;
  background-size: 3%;
  width: 100%;
  height: 100vh;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

}

.devBy{
display: block;
font-size: 30px;
animation-name: moveInLeft;
animation-duration: 2s;
animation-timing-function: ease-in;
}

.devByName{
  font-weight: 400;
  font-size: 45px;
  color:#cf853c;
  display: block;
  animation-name: moveInRight;
animation-duration: 2s;
animation-timing-function: ease-in;
}
#footer{
text-align: center;
position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;
opacity: .6;
 
}

@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-75%) ;
  }

  
  80%{
    transform: translateX(2%) ;

  }

  100%{
    transform: translateX(0) ;
    opacity: 1;
  }
}

@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(75%) ;
  }

  
  80%{
    transform: translateX(-2%) ;

  }

  100%{
    transform: translateX(0) ;
    opacity: 1;
  }
}
