.backButton{
    text-transform: uppercase;
    background-color: rgb(253, 253, 253);
    color: #333333;
    font-weight: 400;
    padding: 10px 35px;
    position: relative;
    margin-top: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    transition: all .3s;
    font-size: 20px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

    
}

.backButton:hover{
    transform: translateY(-3px) translateX(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}
.backButton:active{
    transform: translateY(-2px) translateX(-50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.backButton::after{
    content: "";
    display: inline-block;
    height: 100%; 
    width: 100%;
    border-radius: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: aliceblue;
    transition: all .3s;
    
    
}
.backButton:hover::after{
    
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0;
    
    
}


::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #868686;  
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;  
    }

.pagesBody{
    margin: 3%;
    padding: 5%;
    padding-top: 2%;
    
    
    height: 76vh;
    background-color:rgba(228, 228, 228, 0.829);
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
   
    line-height: 1.5;
    font-weight: 300;
    font-size: 30px;

    animation: growIn .8s .2s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    transition: all 2s;
}

.contactCards{
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
    flex-flow: row wrap;
    
    gap:100px;
}
.contactCards p{
    font-size: 300%;
    overflow:hidden;
    padding-top: 30%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;

}
.contactIcon{
    
    
    transform-origin: left top;
   
    
}
.myCard{
   
    padding-bottom: 5%;
    perspective: 35rem;
    width: 380px;
    position: relative;
    height: 35rem;
    border-radius: 15px;
    /* overflow: hidden; */
    
   
    
    /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .25); */

}
.myCard__side{
    height: 35rem;
    padding: 2%;
    transition: all .8s ease;
    background-color: #5a5a5a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;   
    display: flex;
    justify-content: center;
    padding-top: 15%;
    

   
    
}
.myCard__side--front{
    background-blend-mode: overlay;
    background-size: cover;


    
    
}
.myCard__side--back{
    background-blend-mode: color-dodge;

    background-size: cover;

    transform: rotateY(180deg);    
    animation-name: invisible;
    animation-duration: 2s;
}
.myCard:hover{
    animation-name: nothing;
    animation-duration: .6s;
}
 .myCard:hover .myCard__side--front{
    transform:rotateY(-180deg);

    
}
.myCard:hover .myCard__side--back{
    transform:rotateY(0);
    
   
}

.cardOne{
    filter: brightness(10%);
    background-image: linear-gradient(to right bottom, #ffb900, #e75e14), url(/src/Assets/card1.jpg);
    animation-name: moveInLeft1;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    color: black;
    text-shadow: rgb(214, 129, 0) 1px 1px 5px;
    -webkit-text-stroke: .4px rgb(200, 142, 19);
  
}
.cardTwo{
    filter: brightness(50%);
    background-image: linear-gradient(to right bottom, #55c57a, #197556), url(/src/Assets/card2.jpg);
    animation-name: moveInLeft2;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    color: black;
    text-shadow: rgb(39, 167, 0) 1px 1px 5px;
    -webkit-text-stroke: .4px rgb(1, 105, 7);

}
.cardThree{
    filter: brightness(100%);
    background-image: linear-gradient(to right bottom, #dd1818, #333333), url(/src/Assets/card3.jpg);
    animation-name: moveInLeft3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    color: black;
    
    text-shadow: rgb(255, 51, 0) 1px 1px 5px;
    -webkit-text-stroke: .4px rgb(105, 1, 1);
}
.cardOneBack{
    background-image:linear-gradient(to right bottom, #ffb900, #e75e14), url(/src/Assets/card1.jpg);
 
    color: black;
    animation-timing-function: ease-in;
    text-shadow: rgb(214, 129, 0) 1px 1px 5px;
    -webkit-text-stroke: .4px rgb(255, 180, 19);
    font-size: x-large;
    font-weight: bolder;
    padding: 13%;
    padding-bottom: 0;
    line-height: 1.8;
    animation-name: invisible;
    animation-duration: 1.51s;
  
}
.cardTwoBack{
    background-image:linear-gradient(to right bottom, #00d848, #00ca54), url(/src/Assets/card2.jpg);
    color: black;
    animation-timing-function: ease-in;
    text-shadow: rgb(39, 167, 0) 1px 1px 5px;
    -webkit-text-stroke: .4px rgb(1, 105, 7);
    font-size: x-large;
    font-weight: bolder;
    padding: 13%;
    padding-bottom: 0;
    line-height: 1.8;
    animation-name: invisible;
    animation-duration: 1.51s;
}
.cardThreeBack{
    background-image:linear-gradient(to right bottom, #dd1818, #333333), url(/src/Assets/card3.jpg);
    color: black;
    animation-timing-function: ease-in;
    text-shadow: rgb(255, 51, 0) 1px 1px 5px;
    -webkit-text-stroke: .4px rgb(105, 1, 1);
    font-size: x-large;
    font-weight: bolder;
    padding: 13%;
    padding-bottom: 0;
    line-height: 1.8;
    animation-name: invisible;
    animation-duration: 1.51s;
}

.cardBackButton{
    text-transform: uppercase;
    background-color: white;
    color: #333333;
    font-weight: 400;
    padding: 10px 35px;
    margin-bottom: 10%;
    position: absolute;
    margin-top: 3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    transition: all .3s;
    font-size: 20px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    
    align-self: flex-end;
    animation-name: invisible;
    animation-duration: 2s;
}

.cardBackButton:hover{
    transform: translateY(-3px) translateX(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}
.cardBackButton:active{
    transform: translateY(-2px) translateX(-50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.cardBackButton::after{
    content: "";
    display: inline-block;
    height: 100%; 
    width: 100%;
    border-radius: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: aliceblue;
    transition: all .3s;
    
    
}
.cardBackButton:hover::after{
    
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0;
    
    
}
.cardThreeBack p {
    display: inline-block;
}
.backOne {
    background-image: linear-gradient(to right bottom, #f77700, #923300);


}
.backOne::after{
    background-image: linear-gradient(to right bottom, #ffb900, #e75e14);
}
.backTwo {
    background-image: linear-gradient(to right bottom, #014b19, #00ce11);

}
.backTwo::after{
    background-image: linear-gradient(to right bottom, #00ff55, #01520e);
}
.backThree {
    background-image: linear-gradient(to right bottom,  #c50909, #440000);

}
.backThree::after{
    background-image: linear-gradient(to right bottom, #da1a1a, #5e0101);
}
.row{
    overflow-x: visible;
}
.project{
    padding:3rem 0 3rem;
    width: 75%;
    height: 17rem;
    margin: 0 auto;
    margin-top: 5%;
   
    background-color: rgba(114, 114, 114, 0.712) ;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.529);
    border-radius: 3px;
    transform: skewX(-15deg);
    animation-name: moveInBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    
}
.projectFigure{
    float: left;
    height: 10rem;
    width: 10rem;
    background-color: #00ce11;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 3%;
    margin-left: 5%;
    transform: skewX(15deg);


}
.projectText{  transform: skewX(15deg);}
.projectPic{
    width: 100%;
}

@keyframes moveInTop{
    0% {
        opacity: 0;
        transform: translateY(-100px) translateX(-50%);
    }
    85%{
        opacity: .85;
        transform: translateY(8px) translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(-2px) translateX(-50%);
    }
    
}

@keyframes growIn{
    0% {
        scale: 0;
        opacity: 25%;
    }
    85%{
        opacity: .85;
       
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes moveInLeft1{
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    85%{
   
        transform:translateX(-5%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
}
@keyframes moveInLeft2{
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }
    85%{
       
        transform:translateX(-15%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
}
@keyframes moveInLeft3{
    0% {
        opacity: 0;
        transform: translateX(-400%);
    }
    85%{
       
        transform:translateX(-35%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
}

@keyframes nothing{
    0% {
        
    }
   
    100%{
    }
    
}
@keyframes invisible{
    0% {
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes moveOutTop{
    0% {
        opacity: 1;
        transform: translateY(-2px) translateX(-50%);
    }
    15%{
        opacity: .85;
        transform: translateY(8px) translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(-2px) translateX(-50%);
        opacity: 0;
        transform: translateY(-100px) translateX(-50%);
    }
    
}


@keyframes moveInBottom{
    0% {
        opacity: 0;
        transform: translateY(500px) skewX(-15deg);
        
    }
    85%{
        opacity: .85;
        transform: translateY(8px) skewX(-15deg);
       
    }
    100%{
        opacity: 1;
        transform: translateY(0px) skewX(-15deg);
       
    }
    
}
@keyframes moveOutBottom{
    0% {
        opacity: 1;
        transform: translateY(0px) skewX(-15deg);
       
    }
    15%{
        opacity: .85;
        transform: translateY(8px) skewX(-15deg);
      
    }
    100%{
        opacity: 0;
        transform: translateY(500px) skewX(-15deg);
       
       
    }
    
}


br2 {
    margin:2.5em 0;/* FF for instance */
    line-height:5em;/* chrome for instance */
  }

/* #ffb900
#ff7730
#55c57a
#28b485
 #333333
→ 
#dd1818  */